In [4]:
import geopandas as gpd

data = gpd.read_file("data-trafficcounts.csv")
data.head()

,sensor_ID,Longitude,Latitude,1a,2a,3a,4a,5a,6a,7a,...,4p,5p,6p,7p,8p,9p,10p,11p,12a,geometry
0,5879@1,-79.86152302,40.62539823,44,19,14,18,36,151,362,...,604,678,790,575,431,416,227,188,119,None
1,5970@1,-79.79640914,40.44504722,18,19,24,31,100,223,356,...,561,535,402,315,258,200,119,78,36,None
2,5957@1,-79.82097619,40.48762446,60,36,39,27,45,165,395,...,637,662,715,611,511,429,247,170,106,None
3,120@1,-79.70385879,40.44354849,27,7,14,9,35,119,365,...,640,698,731,471,390,278,146,111,56,None
4,26732@1,-80.11427254,40.38989858,19,14,7,10,9,33,113,...,247,309,348,324,264,181,140,87,54,None

Source:

https://data.wprdc.org/dataset/allegheny-county-traffic-counts/resource/8edd8a76-8607-4ed3-960f-dcae914fd937?view_id=838354b4-3f5d-46ab-ad01-06c1dc233472